
<h1><%= @show.title %></h1>
<% @songs_array.each do |song| %>
<h3><a href="/shows/<%= @show.id%>/songs/<%= song.id%>"><%=song.title %></a></h3>
<% end %>

<img class = "poster" src="<%= @show.img_url %>" alt="<%=@show.title%>-Poster"/>

